@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Quicksand:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: hsl(205, 46%, 37%);
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

h1{
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  width: 40%;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

@media(max-width: 550px){
  ul{
    width: 90%;
  }
}